@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Lobster&family=Mochiy+Pop+P+One&family=Moo+Lah+Lah&family=Open+Sans:ital,wght@1,500&family=Permanent+Marker&family=Poppins:ital,wght@0,200;0,700;1,100;1,300;1,400;1,600;1,700&family=Short+Stack&family=Source+Sans+Pro:ital,wght@1,700&family=Titillium+Web:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}
header{
  height: 100vh;
  width: 100%;
  background: rgb(231,38,229);
background: linear-gradient(9deg, rgba(231,38,229,1) 0%, rgba(26,240,187,1) 89%, rgba(89,181,145,1) 100%);
  background-position: center;

}
::selection{
  background: #a3f5ec;
}
header nav{
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 12;
}
.navbar{
  width: 90%;
  display: flex;
  margin: 20px auto 0 auto;
  align-items: center;
  justify-content: space-between;
}
  header nav .logo{
  height: 80px;
  width: 150px;
}
.logo img{
  height: 100%;
  width: 100%;
  object-fit: contain;
}
nav .menu{
  display: flex;
}
nav .menu li{
  list-style: none;
  margin: 0 10px;
}
nav .menu a{
  color: #2c3e50;
  font-size: 17px;
  font-weight: 500;
  text-decoration: none;
}
nav .menu a:hover{
  color: #000;
}
nav .search-box{
  position: relative;
  height: 40px;
  width: 250px;
}
.search-box input[type="text"]{
  position: absolute;
  font-size: 18px;
  height: 100%;
  width: 100%;
  border-radius: 8px;
  outline: none;
  color: #2c3350;
  border: 2px solid #2c3350;
  background: #f2f2f2;
  padding: 0 10px 0 40px;
}
.search-box a{
  position: absolute;
  top: 50%;
  left: 10px;
  font-size: 20px;
  color: #2c3350;
  transform: translateY(-50%);
  border-right: 2px solid #2c3350;
  padding: 0 5px 0 0;
}
.text-content{
  position: absolute;
  top: 33%;
  left: 7%;
  z-index: 12;
}
header .text-content .text{
  font-size: 27px;
  color: #2c3350;
}
header .text-content .name{
color: #2c3350;
 font-size: 75px;
 font-weight: 600;
 margin: -20px 0 0 -3px;
}
header .text-content .job{
 color: #2c3350;
 font-size: 40px;
 margin: 5px 0;
 margin-top: -4px;
 display: flex;
}
.text-content .typing-text{
  margin-left: 10px;
  overflow: hidden;
  white-space: nowrap;
  border-right: 4px solid #1de2d1;
  animation: typing 5s steps(15) infinite;
}
@keyframes typing{
  0%{
    width: 0ch;
  }
  50%{
    width: 15ch;
  }
  100%{
    width: 0ch;
  }
}
.text-content .job .one{
  color: #1de2d1;
}
.text-content .job .two{
  color: #1de2d1;
}
.buttons{
  margin: 20px 0 0 50px;
}
.text-content .buttons button{
  outline: none;
  margin: 0 10px;
  border: none;
  border-radius: 6px;
  font-size: 18px;
  color: #fff;
  padding: 8px 16px;
  cursor: pointer;
  transition: all 0.3s ease;
  background-image: linear-gradient( 135deg, #2AFADF     10%, #C346C2 100%);
}
.buttons button:hover{
  transform: scale(0.97);
}
.content .girl img{
  position: absolute;
  height: 95%;
  bottom: 0;
  right: 80px;
  position: absolute;
}
header .media-icons{
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 40px;
  bottom: 40px;
}
.media-icons a{
 margin-top: 8px;
 font-size: 20px;
 font-weight: 500;
 text-decoration: none;
 opacity: 0.7;
 color: #2c3350;
 transition: all 0.3s ease;
}
.media-icons a:hover{
 opacity: 1;
}


/*Services*/
.services{
    height: 550px;
    width: 90%;
    margin: 0 auto;
}
.services h1{
    font-size: 40px;
font-family: Short Stack;
text-align: center;
padding: 40px;
}
.services .s-grid {
    display: flex;
    justify-content: center;
    align-items: center;
   height: 550px;
   
}
.services .s-grid .box1{
    height: 500px;
margin: 20px;
flex: 1;
align-items: center;
justify-content: center;
display: flex;
flex-direction: column;
background: #faf1ff;
border-radius: 20px;
box-shadow: 11px 12px 13px gray;
}
.services .s-grid .box2{
    height: 500px;
    margin: 20px;
    flex: 1;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    background: #e7feff;
    border-radius: 20px;
box-shadow: 11px 12px 13px gray;
    }
    .services .s-grid .box3{
        height: 500px;
        margin: 20px;
        flex: 1;
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
        background: #d1fbfc;
        border-radius: 20px;
box-shadow: 11px 12px 13px gray;
        }
.services .s-grid .box1 img{
    height: 300px;
}
.services .s-grid .box2 img{
    height: 300px;
}
.services .s-grid .box3 img{
    height: 300px;
}
.services .s-grid .box3 h2,h5{
    color: rebeccapurple;
    margin-top: 20px;
    font-family: Short Stack;
}
.services .s-grid .box2 h2,h5{
    color: rebeccapurple;
    margin-top: 20px;
    font-family: Short Stack;
}
.services .s-grid .box1 h2,h5{
    color: rebeccapurple;
    margin-top: 20px;
    font-family: Short Stack;
}

@media (max-width: 580px) {
    .services .s-grid {
        height: fit-content;
    
        
      flex-direction: column;
    }
  }
  @media (max-width: 580px) {
    .services .s-grid .box1 {
        height: fit-content;
    width: 400px;
        
      flex-direction: column;
    }
  }
  @media (max-width: 580px) {
    .services .s-grid .box2 {
        height: fit-content;
    width: 400px;
        
      flex-direction: column;
    }
  }
  @media (max-width: 580px) {
    .services .s-grid .box3 {
        height: fit-content;
    width: 400px;
        
      flex-direction: column;
    }
  }

  /**Product Benefits*/
.product{
    height: 500px;
    width: 90%;
    background: #f7e8f7;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 180px;
}
.product .p-grid1{
    border-radius: 20px;
    background: #f7f7f7;
    padding: 40px;
    text-align: center;
    margin: 30px;
flex: 1;
display: flex;
justify-content: center;
align-items: center;
box-shadow: 5px 6px 7px gray;
height: 450px;
flex-direction: column;
}
.product .p-grid2{
    border-radius: 20px;
    box-shadow: 5px 6px 7px gray;
    padding: 40px;
    background: #dfe3ee;
    text-align: center;
    margin: 30px;
    flex: 1;
display: flex;
justify-content: center;
align-items: center;

height: 450px;
flex-direction: column;
}
.product .p-grid3{
    border-radius: 20px;
    background: #dfe3ee;
    padding: 40px;
    box-shadow: 5px 6px 7px gray;
    text-align: center;
    flex: 1;
    margin: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    height: 450px;
    flex-direction: column;
}
.product .p-grid4{
    border-radius: 20px;
    background: #f7f7f7;
    padding: 40px;
    text-align: center;
    margin: 30px;
    box-shadow: 5px 6px 7px gray;
    flex: 1;
display: flex;
justify-content: center;
align-items: center;

height: 450px;
flex-direction: column;
}
.product p{
    font-size: 15px;
}
@media (max-width: 580px) {
    .product {
        height: fit-content;
        width: 400px;
      flex-direction: column;
    }
  }
  @media (max-width: 580px) {
    .product .p-grid1 {
        height: fit-content;
        width: 400px;
      flex-direction: column;
      margin-top: 800px;
    }
  }

  /**support*/
  .support{
      width: 90%;
      margin: 0 auto;
      height: 500px;
  }
  .support .support-sec{
      height: 480px;
      display: flex;
      justify-content: center;
      align-items: center;
      
  }
  .support .support-sec .image{
      flex: 1;
      justify-content: center;
      align-items: center;
      background: #dfe3ee;
      display: flex;
  }
  .support .support-sec img{
    height: 460px;
}
.support .support-sec .text{
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;
    
    
}

.support .support-sec .text-1 {
    background: #f7f7f7;
    width: 90%;
    
    margin: 5px;
}
.support .support-sec .text-2 {
    background: #dfe3ee;
    width: 90%;
    
    margin: 5px;
}
.support .support-sec .text-3 {
    background: #f7f7f7;
    width: 90%;
    
    margin: 5px;
}
.support .support-sec .text-4 {
    background: #dfe3ee;
    width: 90%;
   
    margin: 5px;
}
.support .support-sec .text-1 h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    
}
.support .support-sec .text-2 h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    
}
.support .support-sec .text-3 h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    
}
.support .support-sec .text-4 h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    
}
  .support h1{
    font-size: 40px;
font-family: Short Stack;
text-align: center;
padding: 40px;
}
@media (max-width: 580px) {
    .support  {
        height: fit-content;
        width: 400px;
      flex-direction: column;
      margin-top: 250px;
    }
  }
  @media (max-width: 580px) {
    .support-sec  {
        height: fit-content;
        width: 400px;
      flex-direction: column;
      
    }
  }
/**Pricing*/
.domain-price{

}